<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IndexController</servlet-name>
        <servlet-class>Control.Common.IndexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHomeController</servlet-name>
        <servlet-class>Control.User.UserHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCampaignDetails</servlet-name>
        <servlet-class>Control.User.ViewCampaignDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetupController</servlet-name>
        <servlet-class>Control.Common.SetupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>Control.Common.ListChoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewController</servlet-name>
        <servlet-class>Control.Common.ReviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCandidateController</servlet-name>
        <servlet-class>Control.Common.UpdateCandidateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Like</servlet-name>
        <servlet-class>Control.User.LikeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditThreadController</servlet-name>
        <servlet-class>Control.Admin.EditThreadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyCommentController</servlet-name>
        <servlet-class>Control.Common.ReplyCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentController</servlet-name>
        <servlet-class>Control.Common.CommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveThread</servlet-name>
        <servlet-class>Control.Admin.RemoveThread</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboard</servlet-name>
        <servlet-class>Control.Admin.AdminDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserController</servlet-name>
        <servlet-class>Control.Admin.SearchUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationController</servlet-name>
        <servlet-class>Control.User.NotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PinController</servlet-name>
        <servlet-class>Control.User.PinController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexController</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHomeController</servlet-name>
        <url-pattern>/userhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCampaignDetails</servlet-name>
        <url-pattern>/ViewCampaignDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetupController</servlet-name>
        <url-pattern>/setup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewController</servlet-name>
        <url-pattern>/review</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCandidateController</servlet-name>
        <url-pattern>/updatecandidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Like</servlet-name>
        <url-pattern>/like</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditThreadController</servlet-name>
        <url-pattern>/EditThreadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyCommentController</servlet-name>
        <url-pattern>/ReplyCommentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentController</servlet-name>
        <url-pattern>/CommentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserController</servlet-name>
        <url-pattern>/search_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboard</servlet-name>
        <url-pattern>/AdminDashboardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveThread</servlet-name>
        <url-pattern>/removeThread</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationController</servlet-name>
        <url-pattern>/notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PinController</servlet-name>
        <url-pattern>/pin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <listener>
        <listener-class>Control.Host.ReloadController</listener-class>
    </listener>
</web-app>
